################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Vyoma-SLM-license-guard-templates/CopilotIndices/17.14.1518.61961
/.vs/Vyoma-SLM-license-guard-templates/FileContentIndex
/.vs/Vyoma-SLM-license-guard-templates/v17/.wsuo
/.vs/Vyoma-SLM-license-guard-templates/v17/DocumentLayout.json
/.vs
